{{> theme_ilb/frontpage/sections/head }}

<body {{{ bodyattributes }}}>
  {{> theme_ilb/frontpage/sections/header }}
  
  <section class="carousel-login">
    <div class="container">
      {{> theme_ilb/frontpage/sections/breadcrumbs }}
      {{> theme_ilb/frontpage/sections/carousel_login }}
      <div class="divider"></div>
      {{> theme_ilb/frontpage/sections/categories }}
    </div>
  </section>
  
  {{> theme_ilb/frontpage/sections/footer }}
</body>

<!--{{{ output.main_content }}}-->