<div class="column-categories">
  <div class="row-categories">
    <a href="#" class="card-category">
      <h3>Cursos On-line <br/> Sem Tutoria</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/sem-tutoria.svg" alt="">
      <div class="circle"></div>
    </a>

    <a href="#" class="card-category">
        <h3>Cursos On-line <br/> Com Tutoria</h3>
        <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/com-tutoria.svg" alt="">
        <div class="circle"></div>
    </a>

    <a href="#" class="card-category">
      <h3>Formação Interna</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/formacao-interna.svg" alt="">
      <div class="circle"></div>
    </a>
    
    <a href="#" class="card-category">
      <h3>Pós-Graduação</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/pos-graduacao.svg" alt="">
      <div class="circle"></div>
    </a>
  </div>

  <div class="row-categories">
    <a href="#" class="card-category">
      <h3>Oficinas Interlegis</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/oficinas-interlegis.svg" alt="">
      <div class="circle"></div>
    </a>

    <a href="#" class="card-category">
        <h3>Vídeoaulas</h3>
        <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/video-aulas.svg" alt="">
        <div class="circle"></div>
    </a>

    <a href="#" class="card-category">
      <h3>Projetos Especiais</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/projetos-especiais.svg" alt="">
      <div class="circle"></div>
    </a>

    <a href="#" class="card-category">
      <h3>Conheça o Senado Federal</h3>
      <img src="{{moodle_url}}/theme/ilb/assets/ilb/img/conheca-o-senado.svg" alt="">
      <div class="circle"></div>
    </a>
  </div>
</div>
