<div class="container-login">
    {{#isloggedin}}
    <div class="user-profile">
        <div class="user-container">
            <div class="header">
                <img src="{{{ output.favicon }}}" alt="Saberes">
                <h2>Bem vindo ao Saberes!</h2>
            </div>

            <div class="user-data">
                <div class="user-picture">
                    <a href="{{{userprofileurl}}}">
                        <img class="img-circle" alt="Foto do Perfil" src="{{{userpictureurl}}}" width="70px;" />
                    </a>
                </div>
    
                <div class="user-info">
                    <span>{{{ firstname }}} {{{ lastname }}}</span>
                    <span class="user-adress">{{{ usercity }}} / {{{ usercountry }}}</span>
                </div>
            </div>

            <div class="buttons">
                <a href="{{{ moodle_url }}}/my" class="btn-meus-cursos">
                    <span>Meus cursos</span>
                </a>
                <!-- <a href="{{{ moodle_url }}}/" class="btn-certificados">
                    <span>Certificados</span>
                </a> -->
                <a href="{{{ moodle_url }}}/login/logout.php?sesskey={{{ sessKey }}}" class="btn-sair">
                    <span>Sair</span>
                </a>
            </div>
        </div>
    </div>
    {{/isloggedin}}
    {{^isloggedin}}
    <form class="loginform" id="login" method="post" action="login/index.php">
        <div class="form-container">
            <div class="header">
                <img src="{{{ output.favicon }}}" alt="Saberes">
                <h2>Acesso</h2>
            </div>

            <input type="hidden" name="logintoken" value="{{logintoken}}">

            <div class="username">
                <label for="login_username">CPF</label>
                <br />
                <div class="input-group">
                    <input type="text" name="username" id="login_username">
                </div>
            </div>

            <div class="password">
                <label for="login_password">Senha</label>
                <br />
                <div class="input-group">
                    <input type="password" name="password" id="login_password">
                </div>
            </div>

            <div class="ru-fp">
                <div class="rememberusername">
                    <input type="checkbox" name="rememberusername" id="rememberusername" value="1">
                    <label for="rememberusername">Lembrar CPF</label>
                </div>
                <div class="forgot-password">
                    <span><a href="{{moodle_url}}/login/forgot_password.php">Esqueceu sua senha?</a></span>
                </div>
            </div>

            <div class="footer-form">
                <div class="signup">
                    <span>Não possui uma conta?</span>
                    <br>
                    <a href="login/signup.php">Cadastre-se</a>
                </div>
                <input class="btn btn-primary" type="submit" value="Acessar">
            </div>
        </div>
    </form>
    {{/isloggedin}}
</div>
