/** This file is part of Moodle - http://moodle.org/
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 *
 * Version details
 *
 * Download certificates block
 * --------------------------
 * Displays all issued certificates for users with unique codes.
 * The certificates will also be issued for courses that have been archived since issuing of the certificates.
 * All previously issued certificates can be downloaded as Zipped file. Contributed by Neeraj KP (kpneeraj).
 *
 * @copyright  2015 onwards Manieer Chhettri | <manieer@gmail.com>
 * @author     Manieer Chhettri | <manieer@gmail.com> | 2015
 * @package    block_download_certificates
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
*/

.block_download_certificates h1 {
    margin: 4px;
    font-size: 1.1em;
}

.block_download_certificatesg table.grades {
    text-align: left;
    width: 100%;
    border-spacing: 1px;
}

.block_download_certificates th {
    text-align: left;
}

.block_download_certificates table {
    width: 100%;
    border: 1px;
    border-spacing: 1px;
}

.block_download_certificates table td {
    padding: 3px;
}

.block_download_certificates table.grades .number,
.block_download_certificates table.grades .grade {
    text-align: right;
    width: 10%;
}

.block_download_certificates table.grades .caption {
    margin: 1px 0 0 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-weight: bold;
}